.btn {
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  background: #454545;
  border-radius: 15px;
  cursor: pointer;
  
}

.btn.operator {
  background: #ff9f0a;
  color: white;
}

.btn.action {
  background: #4a4a4a;
}